@light-blue: rgb(93, 114, 200);
@blue: rgb(53, 91, 142);
@dark-blue: rgb(50, 78, 127);

@text-light: rgb(243, 243, 243);
@text-dark-grey: rgb(113, 113, 113);
@text-dark: rgb(27, 27, 27);

/* Bootstrap screen sizes */
@screen-xs: 480px;
@screen-sm: 840px;
@screen-md: 1020px;
@screen-lg: 1200px;
